.heading {
  font-size: 2rem;
  font-weight: 800;
}
.award {
  transform-style: preserve-3d;
  animation: rotating 5s linear infinite;
}
@keyframes rotating {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.box h2 {
  font-weight: 800;
}
.new {
  background-color: #1a5b75;
  max-width: 90%;
  border-radius: 20px;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.container1 .box {
  position: relative;
  width: 280px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 30px;
  transition: 0.5s;
}
.content {
  z-index: 1;
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  transform: 0.5s;
  color: #fff;
}
.box:hover .content {
  left: -25px;
  padding: 60px 40px;
}
