body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: #f1f5fd; */
  background-image: linear-gradient(
    -45deg,
    rgba(90, 209, 240, 1) 0%,
    rgba(113, 222, 249, 1) 13%,
    rgba(168, 229, 243, 1) 29%,
    rgba(194, 241, 252, 1) 49%,
    rgba(202, 242, 250, 1) 74%,
    rgba(227, 244, 248, 1) 94%,
    rgb(185, 236, 247) 100%
  );
  background-size: 100vw 120vh;
  background-repeat: no-repeat;
  /* background-color: #93dafd; */
}

.icons ul li a,
i {
  font-size: 1.3rem;
}
.icons ul {
  list-style-type: none;
}
.icons {
  position: fixed;
  width: 60px;
  margin-top: 150px;
  height: 200px;
  background-color: #d6fbfd;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.icons ul li {
  height: 50px;
  position: relative;
}
.icons ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  padding-left: 25%;
  border-radius: 30px;
  transition: all 0.2s linear;
}
.icons ul li a i {
  position: absolute;
  top: 18px;
  right: 20px;
}
.icons ul li:nth-child(1) a {
  color: #4064ac;
}
.icons ul li:nth-child(2) a {
  color: #0e76a8 ;
}
.icons ul li:nth-child(3) a {
  color: #d12679;
}
.icons ul li:nth-child(4) a {
  color: red;
}
span {
  display: none;
}
.icons ul li a:hover {
  width: 120px;
  z-index: 1;
  margin-left: -30px;
  border-radius: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
}
.icons ul li:nth-child(1):hover a {
  background-color: #4064ac;
  color: #fff;
}
.icons ul li:nth-child(2):hover a {
  background-color: #0e76a8 ;
  color: #fff;
}
.icons ul li:nth-child(3):hover a {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
}
.icons ul li:nth-child(4):hover a {
  background-color: red;
  color: #fff;
}
.icons ul li a:hover span {
  display: block;
  padding-left: 40%;
  font-size: 1vw;
  text-decoration: none !important;
}
.home_text {
  font-size: 3.8vw;
  font-weight: 900;
  color: #333333;
}
.desc {
  color: rgb(151, 151, 151);
  font-size: 1.5vw;
  font-weight: 400;
}
.glitch {
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #e5bee6,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #e5bee6,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #e5bee6,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #e5bee6,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #e5bee6,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #e5bee6,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #e5bee6,
      -0.04em -0.025em 0 #fffc00;
  }
}
@media only screen and (max-width: 992px) {
  .home_text {
    font-size: 7vw;
    font-weight: 900;
    color: #333333;
    text-align: center;
  }
  .desc {
    color: rgb(151, 151, 151);
    font-size: 3.5vw;
    font-weight: 400;
    text-align: center;
  }
}
