@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');

#preloader{
    text-align: center;
    background: linear-gradient(to top, #ffffff, rgb(90, 191, 216) 13%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
.home_text {
    font-size: 3.8vw;
    font-weight: 900;
    
    color: #333333;
  }
#acm{
    font-family: "Audiowide", sans-serif;;

}
